
<script src="js/jquery.Yl.Slide.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

		
		$('.Yl-container').YlSlide({
			wrapper:'.Yl-wrapper',
			slideClass:'.Yl-slide',
			stylePrefix:'.Yl-',
			slideLength:3,
			pages:true,
			pagination:'.Yl-pagination',
			pagingSelect:'.Yl-pagination-bullet-active',
			autoplay:5000,				
			imgTemplate:{
				0:['<div class="Yl-img0"></div>'],
				1:['<div class="Yl-img1"></div>'],
				2:['<div class="Yl-img2"></div>']
			},
			fontTemplate:{
			0:['<div class="Yl-font0">CTOKEN旗下品牌</div>','<div class="Yl-font1">足球  篮球竞彩  北京单场  胜负彩  任选九  基金发行众筹交易平台</div>','<div class="Yl-font2">投资理财 新渠道</div>'],
			1:['<div class="Yl-font0">FROM 2007 ONWARDS</div>','<div class="Yl-font1">整十年专注于赛事竞彩领域研究  体育赛事竞猜服务行业的领导者  开拓者</div>','<div class="Yl-font2">增值创富 新方式</div>'],
			2:['<div class="Yl-font0">CHANCE YOU AND ME</div>','<div class="Yl-font1">共享  共行  共赢  公开 公平 透明  一起携手创造未来  实现财务自由</div>','<div class="Yl-font2">价值实现 新途径</div>']
			},
			fontAnimationMode:{
				0:['fadeInUp','fadeInUp','fadeInUp'],
				1:['fadeInUp','fadeInUp','fadeInUp'],
				2:['fadeInUp','fadeInUp','fadeInUp']
			},
			
			callback:function(e){
				//整个dom加载完成后的回调函数、切换动画前的回调						
			},
			before: function(e) {
				//页面切换前的回调函数
			}, 
			after: function(e) {						
				//页面切换完成后的回调函数
				
			}
		});				
	
	});
</script>
<div class="Yl-container"></div>