
<!--
<div style="height: 100px;  font-size:18px; color: #2b3544; font-weight: 700; margin-top: 30px; text-align: center; color: #fc4903;">

<p>BTCYOO    SPORTTERY    EXCHANGE</p>
<p style=" font-size:12px; color: #2b3544;  margin-top: 10px; text-align: center; color: #fc4903;">Activity Center</p>


</div>

-->




<style > 

#products { 
width:1200px; 
margin:10px 10px  10px; 
} 
#products li { 
width:290px; 
height:240px; 
float:left; 
margin-left:10px; 
display:inline; 
} 
#products li a { 
display:block; 
} 
#products li a img { 
border:1px solid #666; 
padding:1px; 

} 
#products li span a { 
width:290px; 
height:60px; 
line-height:24px; 
text-align:center; 
white-space:nowrap; 
text-overflow:ellipsis; 
overflow: hidden; 
} 

</style> 

<div>
<ul id="products" > 
<li><a href="#" ><img src="/picture/pic09.jpg" alt="" width="288" 
height="144"/></a> 
<span><a href="#">VB定时关机源码示例</a></span> 
</li> 
<li><a href="#"><img src="/picture/pic10.jpg" alt="" width="288" 
height="144"/></a><span><a href="#">一个好用的C++日志生成类</a></span> 
</li> 
<li><a href="#"><img src="/picture/pic11.jpg" alt="" width="288" 
height="144"/></a> 
<span><a href="#">JS+CSS联合打造图文结合动感菜单</a></span> 
</li> 

<li><a href="#"><img src="/picture/pic12.jpg" alt="" width="288" 
height="144"/></a> 
<span><a href="#">JS+CSS联合打造图文结合动感菜单</a></span> 
</li> 


</ul> 
<div>