




    <div class="bk-anyEq">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 ">
                    <a href="/"><img src="picture/homeapp-pic.png" ></a>
                 
                </div>
                <div class="col-xs-5 eqRight">
                	
                		<h4><a href="https://www.zb.com/mobile/app" style="color:#FFF; text-decoration: none;">查看APP详情介绍</a></h4>
						<h3>浏览行情   酣畅交易   指尖掌握</h3>
						<div class="ecode">
							<div class="sbtn">
								<button type="button" class="btn btn-primary androidbtn" ><i class="fa fa-android fa-fw fa-lg"></i><span>Available on the</span>Android</button>
								<button type="button" class="btn btn-primary iphonebtn"  ><i class="fa fa-apple fa-fw  fa-lg"></i><span>Available on the</span>iPhone</button>
				        		
							</div>
							<div class="ecodeimg">
								<img class="pull-right" src="picture/25d1104620da4fdf8d7a83c91160ace9.gif">
								<span>扫一扫下载APP</span>
							</div>
							
						</div>
                
              
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
    
  
    
    <div class="bk-zbglobal"> 
    	<div class="container">
    		<h3>ZB GLOBAL</h3>
    		<div class="listshow">
    			<ul class="row">
    				<li class="col-sm-6">
    					<i class="icon icon-country-Korea"></i>
    					<b>韩国</b>
    					<p>10F, SinYoung Building, 731, Yeongdong-daero, Gangnam-gu, Seoul, Republic of Korea</p>
    				</li>
    				<li class="col-sm-6">
    					<i class="icon icon-country-Switzerland"></i>
    					<b>瑞士</b>
    					<p>Limmatquai 1 CH-8001 Zurich</p>
    				</li>
    				<li class="col-sm-6">
    					<i class="icon icon-country-Canada"></i>
    					<b>加拿大</b>
    					<p>CANADA FARGOING ENTERPRISES LTD.<br/>96-6880 LUCAS RD, RICHMOND, BC CANADA</p>
    				</li>
    				<li class="col-sm-6">
    					<i class="icon icon-country-Samoa"></i>
    					<b>萨摩亚</b>
    					<p>vistra corporate services  center ，ground floor npf building beach road apia samoa</p>
    				</li>
    				<li class="col-sm-6">
    					<i class="icon icon-country-Dubai"></i>
    					<b>迪拜</b>
    					<p>Business Bay square Bay building ,7 , 4th floor，Dubai</p>
    				</li>
    				<li class="col-sm-6">
    					<i class="icon icon-country-usa"></i>
    					<b>美国</b>
    					<p>2100 Geng Road.  Palo Alto, CA 94303</p>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
    
    
    
    <div class="bk-introduce helplist">
        <div class="container">
            <h3>新手帮助</h3>
            <p style="margin-bottom:60px;">为您提供基本细致的操作方法</p>
            <div class="row">
            	<div class="col-xs-4">
            		<div class="row list">
		            	<div class="col-xs-6 ">
		            		<h4>如何充值提现</h4>
		            		<a href="https://www.zb.com/i/help?id=3" target="_blank">数字资产充值</a>
		            		<a href="https://www.zb.com/i/help?id=10" target="_blank">数字资产提现</a>
		            	</div>
		            	
		            	<div class="col-xs-6">
		            		<h4>认证</h4>
		            		<a href="https://www.zb.com/i/help?id=29" target="_blank">谷歌认证</a>
		            		<a href="https://www.zb.com/i/help?id=25" target="_blank">实名认证</a>
		            	</div>
		            	
		            	<div class="col-xs-6">
		            		<h4>交易委托</h4>
		            		<a href="https://www.zb.com/i/help?id=18" target="_blank">限价买入/卖出</a>
		            		<a href="https://www.zb.com/i/help?id=19" target="_blank">计划买入/卖出</a>
		            		<a href="https://www.zb.com/i/developer" target="_blank">API文档</a>
		            	</div>
		            	
		            	<div class="col-xs-6">
		            		<h4>推荐奖励</h4>
		            		<a href="https://www.zb.com/i/help?id=20" target="_blank">邀请人奖励如何获得？</a> 
		            	</div>
		            	
		         </div>
            	</div>
            	<div class="col-xs-4">
            		<div class="help-pic">
	           			<img src="picture/home-tech-mpic.png">
	           		</div>
            	</div>
            	<div class="col-xs-4">
            		<div class="help-note">
            			<h5>HELP CENTER</h5>
            			<h6>在这里我们为你准备了很多实例视频和教学</h6>
            			<p class="line"></p>
            			<a class="btn" href="/i/help">新手帮助 ></a>
            		</div>
            	</div>
            
            </div>
            
        </div>
    </div>
     
 