@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons.eot');
	src:url('../fonts/codropsicons.eot') format('embedded-opentype'),
		url('../fonts/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons.svg#codropsicons') format('svg');
}
/* Header */
.large-header {
	position: fixed;
	width: 100%;
	
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 19;
}

/*.demo-1 .large-header {
	background-image: url('../images/demo-1-bg.jpg');
}*/


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}
@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}